<p>Bonjour {{nameUser}},</p>
<p>Votre modification a été prise en compte</p>
<p>Merci de votre reservation du {{dateCheckIn}} au {{dateCheckOut}}</p>
<p>Dans notre chambre d'hote {{nameRoom}} pour {{nbCustomer}} personne(s)</p>
<p>Pour une durée de {{duration}} avec un prix d'achat de {{price}}</p>
<p>Merci utiliser notre service.</p>
<p>Cordialement,</p>
<p>L'équipe de L'auberge de tombouktou</p>